body {
    font-family: Arial, sans-serif;
    background-image: url("photo8.jpg");
    margin: 0;
    padding: 20px;
    background-size: cover;
    opacity: 70px;
  }
  
  .quiz-container {
    max-width: 600px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 10PX 5px 5px 5PX rgba(0.7, 0, 0, 0.7);
  }
  .question {
    font-size: 20px;
    margin-bottom: 20px;
  }
  .options button {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid black;
    border-radius: 4px;
    background-color:#fff;
    cursor: pointer;
    color: #121313;

  }
  .options button:hover {
    background-color:yellow;
  }
  
  .score {
    margin-bottom: 10px;
  }
  /* Style pour le message de mauvaise réponse */
.message.red {
  color: red;
}

/* Style pour le message de bonne réponse */
.message.green {
  color: green;
}

/* Style pour le message de temps écoulé */
.message.timeout {
  color: black;
}

  .timer {
    margin-bottom: 10px;
  }
 
  button {
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    background-color: #121313;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button:hover {
    background-color:gold;
  }
  @media (max-width: 768px) {
    .quiz-container {
      padding: 10px;
    }
    .question {
      font-size: 18px;
    }
    .options button {
      padding: 8px;
    }
    button {
      margin-top: 15px;
    }
  }
  
  @media (max-width: 480px) {
    .quiz-container {
      padding: 5px;
    }
    .question {
      font-size: 16px;
    }
    .options button {
      padding: 6px;
    }
    button {
      margin-top: 10px;
    }
  }